.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../src/a9d6be82c27d2bdf7e44ee151d034c61.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.board {
    width: 80vmin;
    height: 80vmin;
    border: 5px solid black;
    /* padding: 5%; */
    display: inline-block;
    background-color: white;
}

.board__top1 {
    float: left;
    width: 10%;
    height: 10%;
    /* border: 0.1px solid red; */
}

.fix {
    float: left;
    width: 10%;
    height: 10%;
    /* border: 0.1px solid red; */
    
}

.size {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.board__second1 {
    width: 10%;
    height: 10%;
    /* border: 0.1px solid red; */
    display: inline-block;
}

.black {
    background-color: black;
}

.border {
    border-top: 3px solid black;
}

.borderL {
    border-left: 3px solid black;
}

.borderR {
    border-right: 3px solid black;
}

.borderB {
    border-bottom: 3px solid black;
}
/* 
@media screen (max-width: 800px) {
    .board { 
    width: 80vmin;
    height: 80vmin;
} */